@using EntityLayer.Concrete
@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Tur Rotoları</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Şehir</th>
        <th>Fiyat</th>
        <th>Kapasite</th>
        <th>Sitede gör</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <th>@item.City</th>
            <th>@item.Price</th>
            <th>@item.Capacity</th>
            <th><a href="/Destination/DestinationDetails/@item.Id" class="btn btn-outline-info">Sitede Gör</a></th>
            <th><a href="/Destination/DeleteDestination/@item.Id" class="btn btn-outline-danger">Sil</a></th>
            <th><a href="/Admin/Destination/UpdateDestination/@item.Id" class="btn btn-outline-info">Güncelle</a></th>
            
        </tr>
    }
</table>
<a href="/Admin/Destination/AddDestination" class="btn btn-outline-primary">Yeni Tur Rotası</a>